exclude: courts_schema_autogen\.py
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: autogen/\.*|types/.*autogen\.py
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: no-commit-to-branch
      - id: trailing-whitespace
        exclude: types/.*autogen\.py

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --exit-non-zero-on-fix
        exclude: types/.*autogen\.py
      - id: ruff-format
        exclude: types/.*autogen\.py

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-jsonschema
        name: Check all JSON Schema files are valid schemas
        files: src/ds_caselaw_utils/schemas/.*\.schema\.json
        args: ["--check-metaschema"]
      - id: check-jsonschema
        name: Check courts data matches schema
        files: ^src/ds_caselaw_utils/data/court_names.yaml$
        args:
          [
            "--schemafile",
            "src/ds_caselaw_utils/schemas/courts/courts.schema.json",
          ]

  - repo: https://github.com/camptocamp/jsonschema-gentypes
    rev: 2.13.0
    hooks:
      - id: jsonschema-gentypes
        name: Generate types file for court data
        additional_dependencies:
          - "jsonschema-gentypes[validation]"
        args:
          [
            "--json-schema=src/ds_caselaw_utils/schemas/courts/courts.schema.json",
            "--python=src/ds_caselaw_utils/types/courts_schema_autogen.py",
          ]
        language_version: python3.12
        always_run: true
        pass_filenames: false
      - id: jsonschema-gentypes
        name: Generate types file for parser metadata
        additional_dependencies:
          - "jsonschema-gentypes[validation]"
        args:
          [
            "--json-schema=src/ds_caselaw_utils/schemas/parser-metadata/metadata.schema.json",
            "--python=src/ds_caselaw_utils/types/metadata_schema_autogen.py",
          ]
        language_version: python3.12
        always_run: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: build-schema-docs
        name: Generate documentation for JSON Schemas
        entry: bash scripts/build_schema_docs
        language: python
        additional_dependencies: [json-schema-for-humans]
        always_run: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: check_courts_list
        name: build_courts_list
        entry: scripts/build_courts_list
        language: python
        additional_dependencies: [pyyaml]
        always_run: true
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        name: mypy-src
        additional_dependencies:
          - types-PyYAML
          - ruamel.yaml
          - markdown-it-py
        args:
          - --strict
        files: ^(src/ds_caselaw_utils|scripts)
        exclude: (?:test_|factory.py)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        name: mypy-tests
        files: ^src/ds_caselaw_utils/test_

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml, json, xml, markdown, scss, javascript]
        exclude: courts\.md|autogen/\.*|schemas/.*\.md

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.13.2
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - pre-push
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
