[tool.poetry]
name = "ds_caselaw_utils"
version = "0.1.1"
description = "Utilities for the National Archives Caselaw project"
authors = ["David McKee <dragon@dxw.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
